body {
  display: grid;
  font-family: fuente_custom;
  color: rgb(17, 17, 17);
}

@font-face {
  font-family: 'fuente_custom';
  src: url('/fuentes/GOTHIC.ttf');
}

.claseBoton {
  position: absolute;
  margin: auto;
  padding: 11px 22px;
  transition: all 0.2s ease;
}

.claseBoton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(242, 127, 60, 0.5);
  width: 42px;
  height: 42px;
  transition: all 0.3s ease;
}

.claseBoton span {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}


.claseBoton:hover:before {
  width: 100%;
  background: rgba(242, 127, 60, 0.81);
}

/*   .claseBoton:hover svg {
    transform: translateX(0);
  } */
.claseBoton:active {
  transform: scale(0.96);
}






.claseBoton2 {
  /*   position: absolute;
 */
  margin: auto;
  margin-right: 75px;
  padding: 19px 22px;
  transition: all 0.2s ease;
  cursor: pointer ;
}

.claseBoton2:before {
  /*https://www.w3schools.com/css/css3_transitions.asp*/
  content: "";
  position: absolute;
  top: 0px;
  left: 100px;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
  z-index: -1;
}

.claseBoton2 span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.claseBoton2:hover:before {
  width: 185%;
  background: #ffab9d;
  left: -24px;
}

.claseBoton2:active {
  transform: scale(0.96);
}





/* The snackbar - position it at the bottom and in the middle of the screen */
/*https://www.w3schools.com/howto/howto_js_snackbar.asp*/
#msjAyuda1 {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: rgba(191, 64, 36, 1);
  ;
  /* background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1000;
  /* Add a z-index if needed */
  left: 38%;
  /* Center the snackbar */
  top: 420px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#msjAyuda1.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


#msjAyuda2 {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: rgba(191, 64, 36, 1);
  ;
  /* background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1000;
  /* Add a z-index if needed */
  left: 38%;
  /* Center the snackbar */
  top: 420px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#msjAyuda2.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


#msjAyuda3 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgba(191, 64, 36, 1);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: calc(50% - 270px);
  top: 600px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#msjAyuda3.show {
  visibility: visible;
  -webkit-animation: fadein3 0.5s, fadeout3 0.5s 2.5s;
  animation: fadein3 0.5s, fadeout3 0.5s 2.5s;
}



/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 420px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 420px;
    opacity: 1;
  }
}

@-webkit-keyframes fadein3 {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 600px;
    opacity: 1;
  }
}

@keyframes fadein3 {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 600px;
    opacity: 1;
  }
}


@-webkit-keyframes fadeout {
  from {
    top: 420px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 420px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@-webkit-keyframes fadeout3 {
  from {
    top: 600px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout3 {
  from {
    top: 600px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}