.ayuda1_clase {
    background-color: rgb(141, 172, 191);
    display:none;
    padding-left: 50px;
    width: 100%;
    height:104px; /* Altura del dropzone + ajuste de 15 por los bordes*/
    z-index:30; 
    position:absolute;
}
.ayuda1_boton_clase {
    background-color: rgba(141, 172, 191, 1);
    width: 26px; 
    height:104px; /* Altura del dropzone + ajuste de 15 por los bordes*/
    z-index:30; 
    position:absolute;
    margin-left: -20px;
    border: 0px;
}

.ayuda2_clase {
    background-color: rgba(79, 180, 242, 1);
    display:none;
    padding-left: 60px;
    margin-top: 45px;
    width: 100%;
    height:104px; /* Altura del dropzone + ajuste de 15 por los bordes*/
    z-index:30; 
    position:absolute;
}
.ayuda2_boton_clase {
    background-color: rgba(79, 180, 242, 1);
    width: 26px; 
    height:104px; /* Altura del dropzone + ajuste de 15 por los bordes*/
    z-index:30; 
    position:absolute;
    margin-left: -12px;
    border: 0px;
}

.ayuda3_clase {
    background-color: rgba(242, 208, 109, 1);
    display:none;
    padding-left: 50px;
    width: 100%;
    height:104px; /* Altura del dropzone + ajuste de 15 por los bordes*/
    z-index:30; 
    position:absolute;
}

.ayuda3_boton_clase {
    background-color: rgba(242, 208, 109, 1);
    width: 22px;
    height: 104px;
    z-index: 30;
    position: absolute;
    margin-left: -15px;
    border: 0px;
}

.ayuda4_clase {
    background-color: rgba(191, 64, 36, 1);
    display:none;
    padding-left: 50px;
    width: 61%;
    height:105px; /* Altura del dropzone + ajuste de 15 por los bordes*/
    z-index:30; 
    position:absolute;
    margin-top: 44px;
    color: rgba(141, 172, 191, 1);
    overflow: hidden;
}

.ayuda4_boton_clase {
    background-color: rgba(191, 64, 36, 1);
    width: 22px;
    height: 104px;
    z-index: 30;
    position: absolute;
    margin-left: -7px;
    border: 0px;
    color: rgba(141, 172, 191, 1);
}


/* Color Theme Swatches in RGBA */
.A-KITTEN-NAMED-WOOF-1-rgba { color: rgba(79, 180, 242, 1); }
.A-KITTEN-NAMED-WOOF-2-rgba { color: rgba(141, 172, 191, 1); }
.A-KITTEN-NAMED-WOOF-3-rgba { color:  rgba(242, 208, 109, 1);}
.A-KITTEN-NAMED-WOOF-4-rgba { color: rgba(242, 127, 60, 1); }
.A-KITTEN-NAMED-WOOF-5-rgba { color: rgba(191, 64, 36, 1); }



.barra_menu {
    background-color: #EEF9FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");

}

.cabecera {
    display: flex;
}

.cabeceraimagen {
    flex: 0 0 30%;
}

.cabeceratexto {
    flex: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    text-align: right;
}



.canvas_nota {
    /*     width: 501px;
    height: 359px !important;
    top: 0px; */
    width: 640px;
    height: 360px !important;

    top: 20px;

    background-color: rgba(100, 100, 100, 0.1);
    overflow: hidden;
    position: absolute;
    display: block;
    margin: auto !important;
}

.capa_edicion_imagen {
    visibility: hidden;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(122, 121, 82, 0.6);
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;

}

.capa_hover_imagen {
    z-index: 0;
    height:  130px;
    overflow: hidden;
    /* position: absolute; */
    left: 80px;
    top: 0px;
    z-index: 50;
    /* border-radius: 50px; */
}

.capa_hover_img {
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;
    top: 65px;
    left: -50px;
    /* width: 500px; */
    background-color: rgba(79, 180, 242, 1); /* #29e; */
    height: 150px;
    z-index: 40;
    visibility: hidden;
    overflow: hidden;
    border-radius: 50px;
    /* display: inline-flex; */
    flex-direction: row-reverse;


    display: table;
    /* height: fit-content; */
    width: fit-content;
    min-height: 150px;
}


.capa_hover_vid
{
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;
    top: 65px;
    left: -50px;
    /* width: 500px; */
    background-color: #da8188;
    height: 150px;
    z-index: 40;
    visibility: hidden;
    overflow: hidden;
    border-radius: 50px;
    /* display: inline-flex; */
    flex-direction: row-reverse;


    display: table;
    /* height: fit-content; */
    width: fit-content;
    min-height: 150px;
}



.capa_intermedia_edicion_imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Enmarca el 640 x 360 */
    /* width: 500px; */
    /* max-width: 500px; */
    width: 700px;
    max-width: 700px;
    height: 500px;
    max-height: 500px;
    background-color: rgba(230, 230, 250, 1);
    margin-top: 20px;
    border-radius: 20px;
    border-style: dashed;
}



.capa_intermedia_edicion_nota {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 832px;
    max-width: 832px;
    height: 560px;
    max-height: 560px;
    background-color: rgba(230, 230, 250, 1);
    margin-top: 20px;
    border-radius: 20px;

}


.clase_boton_bora_proyectos {
        background-color: yellow;
        width: 200px; 
       /*  height:104px; */ /* Altura del dropzone + ajuste de 15 por los bordes*/
        z-index:30; 
        margin-top: -26px;
        position:relative;
        margin-left: auto; 
        margin-right: 0px;
        border: 0px;
}


.clase_marco_oculto_notas {
    max-height: 488px;
    height: 488px;
    /* 360 * 1.3 + 20*/
    max-width: 832px;
    /*     width: 832px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*     padding-top: 20px;  */
    background-color: rgba(0, 0, 0, 1);
    /*     top: 20px; */
    overflow: hidden;
    position: relative;
}



.clase_imagen_oculta {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    top: 0px;
    bottom: 0px;
    object-fit: scale-down;

}


.clase_imagen_oculta_notas {

    max-height: 100%;
    display: block;
    height: auto;
    /* display: inline-block; */
    position: absolute;
    /* vertical-align: middle; */
    margin: auto;
    /* height: auto; */
    top: 20;
    bottom: 0;
    left: 0;
    right: 0;
}


.clase_marco_oculto {
    max-height: 380px;
    /* 360 + padding manual*/
    height: 380px;
    max-width: 640px;
    width: 640px;
    /* max-width: 480px; */
    /* width: 480px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    top: 20px;
    /*     background-color: blue; */
}



.clase_miniatura {
    border-radius: 0.55rem;
    max-height: 60px;
    /*     max-width: 80px;
 */
    overflow: hidden;
}

.clase_video_oculto {
    max-height: 360px;
    /* max-width: 480px; */
    max-width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 20px; */
}


.columna {
    display: table-cell;
    width: 120px;
    border-radius: 0.75rem;
    padding: 20px;
    margin: 1rem;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    overflow: hidden;
    touch-action: none;
}

.col-lg-8 {
    width: 100%;
}

.container {
    /*background: #395523*/
    width: 100% auto !important;

    max-width: 100% !important;
    min-width: 100% !important;

    /*{.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1140px}}*/
}




.cuadro_texto {
    /*transform: translate(-50%, -50%);*/
    opacity: 1;
    border: 1px solid black;
    background-color: lightblue;
    width: 100px;
    height: 100px;
    overflow: hidden;
    /* resize: both; */
    position: absolute !important;
    z-index: 1;

}

#DIVdropzoneELEMENTOS {
    border-radius: 0px;
    border: 0px black;
    height: 100px;
    /* padding-top: 2px; */
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.DIVdropzoneELEMENTOSfondo {
    background-image: url('bootstrap/images/carga.svg');
    /* background-color: rgba(63, 119, 49, 0.25); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 650px;

    position: absolute; 
    top:0; 
    bottom:0; 
    left:0;
    right:0;
    z-index: -1;
    overflow: hidden;
}

.DIVdropzoneZoom {
    transition: all 1s;
    transform-origin: 50% 50%;
    overflow: hidden;
}
.DIVdropzoneZoom:hover {
    transform: scale(1.2); 
}


.dz-preview .dz-image {
    border-radius: 10px;
    display: block;
    margin: 0px !important;
    overflow: hidden;
    position: relative;
    /*width: 100px;*/
    z-index: 20;


    width: 100%;
    height: 50px;
}

.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    margin: 0px;
}

.dropzone .dz-preview .dz-image {

    height: 100px;

}

.dropzone {
    background: transparent;
    /* border: 2px solid rgba(0, 0, 0, 0.3); */
    /* border: 1px solid rgba(0, 0, 0, 1); */
    border-radius: 0px;
    display: block;

    min-height: 50px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    z-index: 20;
}



.dz-file-preview {
    margin-top: -10px;
}

.dz-filename {
    font-size: 10px;
    color: blue;
    /*             padding: 20px;
    margin-left: -25px;
    margin-bottom: 25px;
    word-wrap: normal; */
}



.imagen_emergente {

    padding-top: 20px;
    opacity: 100% !important;

    max-width: 400px;
    max-height: 400px;
}


.fila {
    /*display: table;*/
    width: 100%;
    /*Optional*/
    table-layout: auto;
    /*Optional*/
    border-spacing: 10px;
    /*Optional*/
    overflow: hidden;
    padding-right: 10px;
    padding-left: 15px;
}


h6 {
    font-family: 'fuente_custom';
    font-size: medium;    
}


.item_edicion {
    background-color:rgba(79, 180, 242, 1); /* #29e;*/
    border-radius: 0.75rem;
    box-sizing: border-box;
    color: white;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    height: 70px;
    margin: 1rem;
    /* min-width: 100px; */
    overflow: hidden;
    padding: 5px;
    text-align: center;
    touch-action: none;
    vertical-align: middle;
    width: 100px;
    visibility: hidden;
    cursor: pointer;
}

.item_edicion_imagen {
    text-align: left;
}

.item_edicion_video {
    background-color: rgb(218, 129, 136);
    text-align: left;


}

#misRecursos {
    background-image: url('bootstrap/images/biblioteca.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    overflow-x: auto;
    overflow-y: hidden;
    border: 2px  solid rgba(0, 0, 0, 0.3); 
    height:104px; 
    padding-left: 30px;
    padding-top: 6px;
}


/* #misRecursos::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #F5F5F5;
}

#misRecursos::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#misRecursos::-webkit-scrollbar-thumb {
    background-color: #000000;
}
 */


 /* Let's get this party started */
/* https://css-tricks.com/examples/WebKitScrollbars/ */
#misRecursos::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}
 
/* Track */
#misRecursos::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);  */
    -webkit-border-radius: 1px;
    border-radius: 2px;
}
 
/* Handle */
#misRecursos::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(79, 180, 242, 1); /* #29e;*/ 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
#misRecursos::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}



/* #miZonaEdicion::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #F5F5F5;
}

#miZonaEdicion::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 3px;
}

#miZonaEdicion::-webkit-scrollbar-thumb {
    background-color: rgba(148, 223, 63, 0.5);
} */


/* Let's get this party started */
/* https://css-tricks.com/examples/WebKitScrollbars/ */
#miZonaEdicion::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}
 
/* Track */
#miZonaEdicion::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);  */
    -webkit-border-radius: 1px;
    border-radius: 2px;
}
 
/* Handle */
#miZonaEdicion::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(148, 223, 63, 0.5); 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
#miZonaEdicion::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}



.mt-5 {
    margin-top: 0px !important;
}

p {
    margin: 0px !important;
    padding: 25px !important;
    height: 25px !important;
    max-height: 25px !important;
}

p.texto_ayuda {
    font-family: 'fuente_custom';
    margin: 0px !important;
    padding: 14px !important;
    height:  14px !important;
    max-height:  14px !important;
    
}

.texto_unilinea
{
    font-family: 'fuente_custom';
    font-size: 20px;
    margin: 0px !important;
    padding-left: 20px !important;
    padding-top: 0px !important;
    height:  0px !important;
    max-height:  0px !important;
}

li {
    padding: 15px !important;
    max-height: 25px !important;
}

.parrafo {
    max-lines: 1;
    overflow: inherit;
    font-size: 20px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);

}



body::before {
    content: "";
    background-image: url('imagenes/fondos/fondo_camara.jpg ');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
    /* https://developer.mozilla.org/es/docs/Web/CSS/filter */
    filter: saturate(100%) brightness(0.9) hue-rotate(180deg);
}



.resizable {
    /*
     width: 120px;
    border-radius: 0.75rem;
    padding: 20px;
    margin: 1rem;
    */

    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    overflow: hidden;
    touch-action: none;
    /* This makes things *much* easier */

    overflow: hidden;
    touch-action: none;
    box-sizing: border-box;
}

.scrollbar {

    /* Chromium */
    margin-left: 30px;
    float: left;
    /* 	height: 20px;
	width: 65px; */
    background: #F5F5F5;
    overflow-x: scroll;
    margin-bottom: 25px;


}



.scroller {
    /* Firefox */
    overflow-x: scroll;
    scrollbar-color: #000000 #F5F5F5;
    scrollbar-width: thin;
}





#sortable>div {
    float: left;
}

#sortable {
    height: 35px;
    padding: 0.5em;
}


@font-face {
    font-family: 'fuente_custom';
    src: url('/fuentes/GOTHIC.ttf');
}

.titulo_superior {
    color: gainsboro;
    font-size: 2em;
    font-family: 'fuente_custom';
    min-width: 250px;
    vertical-align: baseline;
    align-self: flex-end;
}

.titulo_superior:hover {
    color: white;
}

.titulos_superior_franja {
    width: 80%;
    max-width: 800px;
    display: flex;
    vertical-align: baseline;
    justify-content: space-between;
    margin-bottom: 4px;
    min-height: 36px;
}

.titulos_superior_peque {
    width: 100%;
    display: flex;
}

.titulos_superior_opcion {
    align-self: flex-end;
    color: gainsboro;
    font-size: 1em;
    line-height: 1em;
    padding: 8px;
    min-height: 30px !important;
    font-family: 'fuente_custom';
    cursor: help;

}

.titulos_superior_opcion:hover {
    color: white;
}

#toast-container > div {
    width: 450px;
}

.ui-dialog .ui-dialog-titlebar {
    background-color: rgba(242, 208, 109, 1);
}

.ui-dialog-title
{
    font-family: 'fuente_custom' !important;
    font-size: medium;    
}

.ui-button {
    font-family: 'fuente_custom' !important;
}


.zonaEdicion {
    background-image: url('bootstrap/images/externo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;

    /* background-color: rgba(148, 223, 63, 0.5); */
    min-height: 104px;

    border: 2px  solid rgba(0, 0, 0, 0.3); 
    /* Según tamaño de miniatura generado en servidor*/
    overflow: auto;
    /*     overflow-y: hidden;
    width: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: bold; */
    border-radius: 0px;
    padding-left: 15px;
    padding-top: 6px;
    scrollbar-width: thin;
}

/* .zonaNotas {
    background-image: url('editaNotas.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 91px;
    
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
} */


.zonaNotas {
    background-image: url('bootstrap/images/card-heading.svg');
    background-color: rgba(111, 66, 193, 0.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    min-height: 91px;
    /* Según tamaño de miniatura generado en servidor*/
    overflow: auto;
    width: 33%;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;


}


.zonaPapelera {
    background-image: url('bootstrap/images/trash_dim.svg');
    background-color: rgba(0, 0, 0, 0.15);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    min-height: 104px;
    /* Según tamaño de miniatura generado en servidor*/
    overflow: auto;
    width: 60%;
    /* border-radius: 10px; */
    border: rgba(0, 0, 0, 0.5);
    border-width: thin;
    border-style: solid;


}