<!DOCTYPE HTML>


<html lang="es" xmlns:th="http://www.thymeleaf.org" >

<head>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes">
    <meta charset="utf-8">

    <title>Editor de vídeo - TFM</title>

    <link th:rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.3.4.1.css}">
    <script th:src="@{/jquery/jquery.3.5.1.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.3.4.1.js}"></script>



    <link th:rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}" />
    <script th:src="@{/jquery/jquery-1.12.4.js}"></script>
    <script th:src="@{/jquery/jquery-ui-1.12.1.js}"></script>


    <script>
            // JQuery para formatear los tooltips como HTML
            $(function () {
                $(document).tooltip({
                    content: function (callback) {
                        callback($(this).prop('title'));
                    },
                    position: {
                        my: "left bottom-5",
                        at: "left top"
                    },
                });

            });


    </script>


    <link th:rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}" />
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/jquery/jquery-ui.js}"></script>

    <link th:rel="stylesheet" th:href="@{/jquery/jquery-ui.css}" />




    <link th:rel="stylesheet" th:href="@{/bootstrap/bootstrap.cdn.css}" />


    <link th:rel="stylesheet" th:href="@{/dropzone/dropzone.css}" />
    <script th:src="@{/dropzone/dropzone.js}"></script>



    <script th:src="@{/sortable/Sortable.js}"></script>

    <link rel="stylesheet" href="TFMprincipalEstilo.css">
    <link rel="stylesheet" href="TFMnotasEstilo.css">
    <link rel="stylesheet" href="TFMmodalEstilo.css">

    <script th:src="@{/interact/interact.min.js}"></script>


    <script th:src="@{/toastr/toastr.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/toastr/toastr.min.css}" />


    <link rel="stylesheet" href="TFMMenuBoton.css">


    <script type="text/javascript" src="TFMMetodosVariables.js"></script>
    <script type="text/javascript" src="TFMMetodosSesion.js"></script>


</head>


<body onLoad="chequea_cookies();  get_sesion_anterior(); get_variables_edicion(); get_notas_cookies(); regenera_hovers(); "  >
    
    <div id="main" >
        <div id="borde_superior" style="width: 100%; background-color: black; padding:10px; padding-left:20px; display: flex;    min-height: 60px;">
            <div class="titulos_superior_franja" draggable="false">
                <div class="titulo_superior" draggable="false">
                    <a  draggable="false">Editor Vídeo</a>
                </div>
                <div class="titulos_superior_opcion" draggable="false">
                    <a  id="myBtn" draggable="false">¿Qué es?</a>
                </div>
                <div class="titulos_superior_opcion">
                    <a id="botonModal3" draggable="false">¿Cómo funciona?</a>
                </div>
                <div class="titulos_superior_opcion">
                    <a id="botonModal4" draggable="false">¿Cómo está hecho?</a>
                </div>
                <div class="titulos_superior_opcion">
                    <a id="botonModal5" draggable="false">Créditos</a>
                </div>
            </div>
        </div>




        <div id="principal">
            <div style="height: 25px">
            </div>

            <div class="container" id="contenedor">
                <div class="row">
                    <p class="texto_unilinea" >Área de carga</p>

                    <div class="col-lg-8 mt-5" style="display: flex; overflow-x: hidden;";>

                        <div id="ayuda1" class="ayuda1_clase">
                            <p class="texto_ayuda">Haz click en este área para cargar los archivos de imagen o vídeos que quieras añadir al proyecto.</p>
                            <p class="texto_ayuda">También puedes arrastrarlos desde tu navegador.</p>
                            <p class="texto_ayuda">Los clips cargados aparecerán abajo en el área de edición.</p>                            
                        </div>
                        <div id="ayuda1_boton">
                            <button id="bt_ayuda1_boton" class="ayuda1_boton_clase">?</button>
                        </div>
                        <script>
                            $( "#ayuda1"  ).click(function() {
                                $( "#ayuda1" ).toggle( "slide", 1000, "swing");
                            });
                            $( "#bt_ayuda1_boton"  ).click(function() {
                                $( "#ayuda1" ).toggle( "slide", 1000, "swing" );
                            }); 
                        </script>

                        <div th:if="${message}">
                            <h2 th:text="${message}" />
                        </div>


                        <div id="dropzoneEL" class="dropzone square" style="width:100%">
                            <div class="DIVdropzoneZoom">
                                <div id="DIVdropzoneELEMENTOSfondo" class="DIVdropzoneELEMENTOSfondo">
                            
                                </div>
                                <form action="/upload" class="dropzone needsclick" id="DIVdropzoneELEMENTOS">
                            
                                    <div class="dz-message needsclick">
                                        <button id="botonZona" type="button" class="dz-button"></button>
                                        <br />
                                    </div>
                            
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="cloning" class="fila">

                <div class="row" >
                    <p class="texto_unilinea" >Área de recursos</p>

                    <div id="boton_bora_proyectos" class="clase_boton_bora_proyectos" ><button onclick="borra_proyecto()">Borra proyecto</button></div>

                    <div id="ayuda2" class="ayuda2_clase">
                        <p class="texto_ayuda">Aquí aparecerán los vídeos e imágenes que hayas cargado.</p>
                        <p class="texto_ayuda">Arrástralos al área de edición tantas veces como quieras para añadirlos a tu vídeo.</p>
                        <p class="texto_ayuda">Puedes ver su detalle pasando el ratón por encima.</p>
                    </div>
                    <div id="ayuda2_boton">
                        <button id="bt_ayuda2_boton" class="ayuda2_boton_clase">?</button>
                    </div>
                    <script>
                        $( "#ayuda2"  ).click(function() {
                            $( "#ayuda2" ).toggle( "slide", 1000, "swing");
                        });
                        $( "#bt_ayuda2_boton"  ).click(function() {
                            $( "#ayuda2" ).toggle( "slide", 1000, "swing" );
                        }); 
                    </script>

                    <div id="misRecursos" class="scrollbar, scroller" ></div>
                </div>

                <div>
                    <p class="texto_unilinea" style="padding-left: 6px !important;">Área de edición</p>

                    <div id="ayuda3" class="ayuda3_clase">
                        <p class="texto_ayuda">Aquí están los vídeos e imágenes que aparecerán en tu vídeo.</p>
                        <p class="texto_ayuda">Arrástralos dentro de este área para cambiar su orden, o llévalos a la papelera si no lo quieres usar.</p>
                        <p class="texto_ayuda">Haz click sobre cada clip para hacer que las imágenes duren más o menos, o decidir qué parte del vídeo quieres que apareza.</p>                            
                    </div>
                    <div id="ayuda3_boton">
                        <button id="bt_ayuda3_boton" class="ayuda3_boton_clase">?</button>
                    </div>
                    <script>
                        $( "#ayuda3"  ).click(function() {
                            $( "#ayuda3" ).toggle( "slide", 1000, "swing");
                        });
                        $( "#bt_ayuda3_boton"  ).click(function() {
                            $( "#ayuda3" ).toggle( "slide", 1000, "swing" );
                        }); 
                    </script>
                    <div id="miZonaEdicion" class="zonaEdicion" ondragend="recalcula_propiedades()"></div>
                </div>

                <div id="zonaInferior" class="row" style="display: flex; justify-content: revert;">
                    <p class="texto_unilinea" style="padding-left: 20px !important;">Papelera</p>

                    <div id="ayuda4" class="ayuda4_clase">
                        <p class="texto_ayuda">Arrastra hasta aquí los clips del área de edición que ya no necesites.</p>
                        <p class="texto_ayuda">La duración del vídeo se actualizará.</p>
                        <p class="texto_ayuda">¡No te preocupes! Las notas no se perderán cuando quites un clip.</p>                            
                    </div>
                    <div id="ayuda4_boton">
                        <button id="bt_ayuda4_boton" class="ayuda4_boton_clase">?</button>
                    </div>
                    <script>
                        $( "#ayuda4"  ).click(function() {
                            $( "#ayuda4" ).toggle( "slide", 1000, "swing");
                        });
                        $( "#bt_ayuda4_boton"  ).click(function() {
                            $( "#ayuda4" ).toggle( "slide", 1000, "swing" );
                        }); 
                    </script>
                    <div id="papelera" class="zonaPapelera" ondragend="borra()" ondragleave="borra()" style="float: left"></div>

                    <div style="width:28%; margin:0 auto; text-align: center;">
                        <a href="#" class="claseBoton" style="text-decoration: none" onclick="muestra_capa_notas()">
                            <span style="color:black">AÑADIR NOTAS</span>
                        </a>

                        <a href="#" class="claseBoton " style="text-decoration: none; position: relative; top: 60px" onclick="lanzaFetch()">
                            <span style="color:black">GENERAR VÍDEO</span>
                        </a>
                    </div>

                </div>
            </div>

            <div id="progreso" style="width:100%; height:0px; background-color:cornflowerblue;">
                <div id="progreso_actual" style="width:0%;  height:0px; background-color:goldenrod;">

                </div>
            </div>



            <div id="plantillaNota" style="display:none; width: 0px; padding-right:10px; padding-left:5px; padding-top:5px; border: 1px; border-color:red">
                <div id="barraMenu" class="barraMenu" style="width: 570px;">
                    <img class="btn btn-default" src="/bootstrap/images/arrows-move.svg" alt="Mover" title="Mover" style="height: 34px; width: 40px; transform:scale(0.7);margin-left: -9px;margin-right: -9px">
                    <button class="btn btn-default botonH1" onclick="notasH1(this.parentNode.parentNode.getAttribute('id'))" style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/type-h1.svg" alt="H1" title="Tamaño grande"/></button>
                    <button class="btn btn-default botonH2" onclick="notasH2(this.parentNode.parentNode.getAttribute('id'))" style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/type-h2.svg"alt="H2" title="Tamaño medio"/></button>
                    <button class="btn btn-default botonH3" onclick="notasH3(this.parentNode.parentNode.getAttribute('id'))" style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/type-h3.svg" alt="H3" title="Tamaño pequeño"/></button>
                    <input id="colorpicker" type="color" class="colorpick btn btn-default boton_texto" value="#ffffff"
                        style="height: 34px; width: 40px; transform:scale(0.7);margin: -9px;" title="Elige un color y acepta con ENTER">

                    <button class="btn btn-default boton_texto" onclick="notasToggleNegrita(this.parentNode.parentNode.getAttribute('id'))"
                        style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/type-bold.svg" alt="Negrita" title="Texto en negrita"/></button>
                    <button class="btn btn-default boton_texto" onclick="notasToggleCursiva(this.parentNode.parentNode.getAttribute('id'))"
                        style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/type-italic.svg" alt="Cursiva" title="Texto en cursiva"/></button>

                    <div class="dropdown boton_texto" style="display: inline-block;">
                        <button class="btn btn-default" type="button" data-toggle="dropdown" style="transform:scale(0.7);margin: -9px;">
                            <img src="/bootstrap/images/type.svg" alt="Tipo" />
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu" style="padding-bottom:25px">
                            <li class="arial" style="transform:scale(0.7);margin: -9px;">
                                <a onclick="notasSetFuente(this.parentNode.parentNode.getAttribute('nota'), 'arial', 'recuadro');">Arial</a>
                            </li>
                            <li class="courier" style="transform:scale(0.7);margin: -9px;">
                                <a onclick="notasSetFuente(this.parentNode.parentNode.getAttribute('nota'),'courier', 'recuadro');">Courier</a>
                            </li>
                            <li class="latoNorm" style="transform:scale(0.7);margin: -9px;">
                                <a onclick="notasSetFuente(this.parentNode.parentNode.getAttribute('nota'),'latoNorm','recuadro');">Lato</a>
                            </li>
                            <li class="trebuchet" style="transform:scale(0.7);margin: -9px;">
                                <a onclick="notasSetFuente(this.parentNode.parentNode.getAttribute('nota'),'trebuchet','recuadro');">Trebuchet</a>
                            </li>
                            <li class="verdana" style="transform:scale(0.7);margin: -9px;">
                                <a onclick="notasSetFuente(this.parentNode.parentNode.getAttribute('nota'),'verdana','recuadro');">Verdana</a>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-default" onclick="nota_set_inicio(this.parentNode.parentNode.getAttribute('id'))" style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/arrow-bar-right.svg" alt="Desde" title="Inicia la nota en este fotograma"/></button>
                    <button class="btn btn-default" onclick="nota_set_fin(this.parentNode.parentNode.getAttribute('id')) " style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/arrow-bar-left.svg" alt="Hasta" title="Termina la nota en este fotograma"/></button>
                    <button class="btn btn-default" onclick="nota_expande(this.parentNode.parentNode.getAttribute('id'))" style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/arrows-expand.svg" alt="Todo" title="Mostrar la nota durante todo el vídeo" style="transform:rotate(90deg);" /></button>
                    <button class="btn btn-default" id="botonModalImagenes" onclick="muestraModal(this.parentNode.parentNode.getAttribute('id'))"
                        style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/image.svg" title="Cambia la nota por una imagen o sticker"/></button>
                    <button class="btn btn-default"  onclick="acerca(this.parentNode.parentNode.getAttribute('id'))"
                        style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/front.svg" alt="Acerca" title="Pon la nota delante de otras notas"/></button>
                    <button class="btn btn-default"  onclick="aleja(this.parentNode.parentNode.getAttribute('id'))"
                        style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/back.svg" alt="Aleja"  title="Pon la nota detrás de otras notas"/></button>
                    <button class="btn btn-default" onclick="nota_borra(this.parentNode.parentNode.getAttribute('id'))" style="transform:scale(0.7);margin: -9px;">
                        <img src="/bootstrap/images/trash.svg" alt="Borra"  title="Borra esta nota" /></button>
                </div>
                <input id="recuadro" type="text" class="clase_recuadro_texto" autocomplete="off" tabindex="-1" style="opacity: 1 !important;" onfocus="limita_ancho(this)">
            </div>
        </div>




        <div id="modal_que_es" class="modal">
            <!-- Modal content -->
            <div  id="modal_que_es_contenido" class="modal-contenido" >
                <div class="fondo_modal">
                    <span class="close" style="cursor:pointer; align-self: end;" onclick="modal.style.height='0px'; modal.style.maxHeight = '0px'">&times;</span>
                    <p class="modal_cabecera">¡Bienvenid@!</p>
                    <p class="modal_texto">En esta página web podrás <i>crear vídeos</i> con solo cargar tus imágenes y vídeos favoritos.</p>
                    <p class="modal_texto">Podrás crear un vídeo a partir de una foto, añadir notas y stickers, recortar vídeos y añadirlos las veces que quieras.</p>
                    <p class="modal_texto">¡Y todo muy fácil, sólo con unos clicks! ¡Ahora podrás ser un experto editor!</p>
                </div>

            </div>
        </div>

        <div id="modal_como_funciona" class="modal"  >
            <!-- Modal content -->
            <div id="modal_como_funciona_contenido" class="modal-contenido" >
                <div class="fondo_modal">
                    <span class="close" style="cursor:pointer; align-self: end;" onclick="modal3.style.height='0px'; modal3.style.maxHeight = '0px'">&times;</span>
                    <p class="modal_cabecera">¿Cómo funciona?</p>
                    <p class="modal_texto">Primero CARGA tus vídeos y fotos.</p>
                    <p class="modal_texto">Después ARRÁSTRALOS a la zona de edición, donde puedes editarlos y recortarlos haciendo click sobre ellos.</p>
                    <p class="modal_texto">AÑADE LAS NOTAS, eligiendo cuándo empiezan y dejan de verse, incluye stickers...</p>
                    <p class="modal_texto">Por último GENERA TU VÍDEO, ¡y listo!</p>
                </div>

            </div>
        </div>

        <div id="modal_como_esta_hecho" class="modal"  >
            <!-- Modal content -->
            <div id="modal_como_esta_hecho_contenido" class="modal-contenido">
                <div class="fondo_modal">
                    <span class="close" style="cursor:pointer;  align-self: end;" onclick="modal4.style.height='0px'; modal4.style.maxHeight = '0px'">&times;</span>
                    <p class="modal_cabecera">¿Cómo está hecho?</p>
                    <p class="modal_texto">El editor de vídeo utiliza estas tecnologías en la parte cliente:</p>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://www.ecma-international.org/publications-and-standards/standards/ecma-262/"><img src="iconos/icons8-javascript.svg" class="icono_ayuda">Javascript</a></li>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://www.w3.org/Style/CSS/specs.en.html"><img src="iconos/icons8-css3.svg" class="icono_ayuda">CSS 3</a></li>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://www.w3.org/TR/2011/WD-html5-20110405/"><img src="iconos/icons8-html-5.svg" class="icono_ayuda">HTML 5</a></li>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://getbootstrap.com/"><img src="iconos/bootstrap-fill.svg" class="icono_ayuda" style="padding-left:2px; padding-right:13px">Bootstrap 3.4.1</a></li>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://jquery.com/"><img src="iconos/icons8-jquery.svg" class="icono_ayuda">JQuery 3.6.0 y JQuery UI 1.12.4</a></li>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://www.dropzone.dev/js/"><img src="iconos/dropzone.svg" class="icono_ayuda">Dropzone 5.9.3</a></li>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://sortablejs.github.io/Sortable/"><img src="iconos/sortable.png" class="icono_ayuda">Sortable 1.14.0</a></li>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://interactjs.io/"><img src="iconos/interact.png" class="icono_ayuda">Interact 1.10.11</a></li>
                    <p class="modal_texto">Y en la parte servidora:</p>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://jdk.java.net/17/"><img src="iconos/icons8-logotipo-de-java-coffee-cup.svg" class="icono_ayuda">Java OpenJDK 17</a></li>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://spring.io/projects/spring-boot"><img src="iconos/icons8-logotipo-de-spring.svg" class="icono_ayuda">Spring-Boot 2.5.6</a></li>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://ffmpeg.org/ "><img src="iconos/icons8-ffmpeg.svg" class="icono_ayuda">FFMPEG build 2021-09-22</a></li>
                    <li class="modal_texto"><a style="color:black;" target="_blank" href="https://www.thymeleaf.org/"><img src="iconos/icons8-thymeleaf.svg" class="icono_ayuda">Thymeleaf</a></li>
                </div>

            </div>
        </div>




        <div id="modal_creditos" class="modal"  >
            <!-- Modal content -->
            <div id="modal_creditos_contenido" class="modal-contenido">
                <div class="fondo_modal">
                    <span class="close" style="cursor:pointer;  align-self: end;" onclick="modal5.style.height='0px'; modal5.style.maxHeight = '0px'">&times;</span>
                    <p class="modal_cabecera">Créditos</p>
                    <p class="modal_texto">Proyecto realizado por Jaime Alba.</p>
                    <p class="modal_texto">TFM de la Especialidad de Ingeniería Informática por la Univesidad de Salamanca</p>
                    <p/>
                    <p class="modal_cabecera">Contacto</p>
                    <p class="modal_texto"><a style="color:black;" target="_blank" href="mailto:jaime.alba.cepero@usal.es"><img src="iconos/envelope-fill.svg" class="icono_ayuda">jaime.alba.cepero@usal.es</a></p>
                    <p class="modal_texto"><a style="color:black;" target="_blank" href="https://www.linkedin.com/in/jaime-alba-025a526/"><img src="iconos/linkedin.svg" class="icono_ayuda">Encuéntrame en LinkedIn.</a></p>
                    <p class="modal_texto">
                        <div style="width:100%; display: table-cell;">
                            <a class="modal_texto" style="color:black;" target="_blank" href="https://github.com/jacnc17/TFM/">
                                <img src="iconos/icons8-github.svg" class="icono_ayuda">Código disponible en GitHub.
                            </a>
                        </div>
                        <div  style="display: table-cell;" >
                           <a target="_blank" href="https://usal.es" style="cursor:pointer;  align-self: end;"><img src="imagenes/logoUSAL.png" style="max-height:50px"></a>
                        </div>
                    </p>
        
                </div>

            </div>
        </div>

        <div id="modalImagenes" class="modalStickers" style="z-index: 50;" >
            <!-- Modal content -->
            <div class="modal-content" style=" max-height:400px; max-width:60%; overflow-y: auto;padding: 20px;    margin:0 auto;">
                <span class="close" style="cursor:pointer;   align-self: end;" onclick="modal2.style.display = 'none'; ">&times;</span>
                <p>Selecciona qué imagen quieres incluir en forma de nota:</p>
                <div id="imagenes_miniaturas_notas"></div>
            </div>
        </div>


        <script th:inline="javascript">
            function recarga_stickers(id_nota) {
                /////////// Carga de stikers
                /*<![CDATA[*/
                /*[# th:each="archivo, status: ${misStickers}"]*/ // Código Thymeleaf - se carga en TFMPrincipal el modelo 'misStickers'

                // En caso de recarga de página se añade con mimetype válido 
                // Creamos una imagen que irá dentro del botón
                tmp_imagen = document.createElement("img");
                tmp_imagen.src = [[${ archivo }]];
                tmp_imagen.style = "max-height: 100%; max-width: 100%;";

                // Creamos el botón (permitirá darle estilo)
                tmp_boton = document.createElement("button");
                tmp_boton.className = "btn but-outline-primary";
                tmp_boton.style = "border:1; border-color:#f6931f; font-weight:bold; height:75px; max-height:75px; min-height:75px";
                tmp_boton.onclick = function () { incluye_imagen_nota(id_nota, [[${ archivo }]], 1) };
                tmp_boton.appendChild(tmp_imagen);

                document.getElementById("imagenes_miniaturas_notas").appendChild(tmp_boton);
                console.log("Añadiendo ", [[${ archivo }]]);

                /*[/]*/
                /*]]>*/
            }
                ////////////// Fin carga de stickers
        </script>

        <script>

            // Gestión de modales.
            var modal = document.getElementById("modal_que_es");
            var modal2 = document.getElementById("modalImagenes");
            var modal3 = document.getElementById("modal_como_funciona");
            var modal4 = document.getElementById("modal_como_esta_hecho");
            var modal5 = document.getElementById("modal_creditos");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");
            var btn3 = document.getElementById("botonModal3");
            var btn4 = document.getElementById("botonModal4");
            var btn5 = document.getElementById("botonModal5");

            // Botón que abre el modal de imágenes
            var btn2 = document.getElementById("botonModalImagenes");


            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function () {
                // Recupero la altura del menú:
                var altura_menu = document.getElementById("borde_superior").clientHeight;

                document.getElementById("modal_que_es_contenido").style.marginTop= altura_menu+'px';
                modal.style.height = "100%";
                modal.style.maxHeight = "100%";
                document.getElementById("modal_que_es_contenido").style.overflow = "auto"; 
            }

            // Gestión de la pulsación del modal3
            btn3.onclick = function () {
                //modal3.style.display = "block";
                // Recupero la altura del menú:
                var altura_menu = document.getElementById("borde_superior").clientHeight;

                document.getElementById("modal_como_funciona_contenido").style.marginTop = altura_menu+'px';
                modal3.style.height = "100%";
                modal3.style.maxHeight = "100%";
                document.getElementById("modal_como_funciona_contenido").style.overflow = "auto"; /**/

            }

            // Gestión de la pulsación del modal4
            btn4.onclick = function () {
                // Recupero la altura del menú:
                var altura_menu = document.getElementById("borde_superior").clientHeight;

                document.getElementById("modal_como_esta_hecho_contenido").style.marginTop = altura_menu+'px';
                modal4.style.height = "100%";
                modal4.style.maxHeight = "100%";
                document.getElementById("modal_como_esta_hecho_contenido").style.overflow = "auto"; /**/

            }

            // Gestión de la pulsación del modal5
            btn5.onclick = function () {
                // Recupero la altura del menú:
                var altura_menu = document.getElementById("borde_superior").clientHeight;

                document.getElementById("modal_creditos_contenido").style.marginTop = altura_menu+'px';
                modal5.style.height = "100%";
                modal5.style.maxHeight = "100%";
                document.getElementById("modal_creditos_contenido").style.overflow = "auto"; 

            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                // modal.style.display = "none";
                document.getElementById("modal_que_es_contenido").style.overflowy = "hidden"; /**/
                document.getElementById("modal_como_funciona_contenido").style.overflowy = "hidden"; /**/
                document.getElementById("modal_como_esta_hecho_contenido").style.overflowy = "hidden"; /**/
                document.getElementById("modal_creditos_contenido").style.overflowy = "hidden"; /**/
                document.getElementById("modal_que_es_contenido").style.overflow = "hidden"; /**/
                document.getElementById("modal_como_funciona_contenido").style.overflow = "hidden"; /**/
                document.getElementById("modal_como_esta_hecho_contenido").style.overflow = "hidden"; /**/
                document.getElementById("modal_creditos_contenido").style.overflow = "hidden"; /**/

                modal.style.height = "0%";
                modal.style.maxHeight = "0%";
                modal3.style.height = "0%";
                modal3.style.maxHeight = "0%";               
                modal4.style.height = "0%";
                modal4.style.maxHeight = "0%";     
                modal4.style.height = "0%";
                modal5.style.maxHeight = "0%";  
                modal5.style.height = "0%" ;

                document.getElementById("modalImagenes").style.overflowy = "hidden"; /**/
                modal2.style.height = "0%";
                modal2.style.maxHeight = "0%";

            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                
                if (event.target == modal) {               
                    modal.style.height = "0%";
                    modal.style.maxHeight = "0%";

                } else if (event.target == modal2) {
                    modal2.style.display = "none"; /**/


                } else if (event.target == modal3) {
                    modal3.style.height = "0%";
                    modal3.style.maxHeight = "0%";

                } else if (event.target == modal4) {
                    modal4.style.height = "0%";
                    modal4.style.maxHeight = "0%";

                } else if (event.target == modal5) {
                    modal5.style.height = "0%"
                    modal5.style.maxHeight = "0%"

                }


            }



            // Modal que se mostrará para poder elegir una imagen a incluir.
            function muestraModal(id_nota) {
                modal2.style.display = "block";
                modal2.style.zIndex = "6000";

                // Recuperamos las imágenes y vídeos que hay en el listado actual.
                let recursos = document.getElementById("misRecursos").getElementsByClassName("clase_miniatura");

                // Borramos el listado anterior de imágenes
                document.getElementById("imagenes_miniaturas_notas").innerHTML = '';

                // Recargamos los stickers
                recarga_stickers(id_nota);

                console.log(recursos);

                // Recorremos los recursos y mostramos sólo las imágenes en el diálogo
                for (i = 0; i < recursos.length; i++) {
                    // Cada una de las imágenes candidatas.
                    let recurso = recursos[i];

                    // Sólo recuperamos las imágenes (no mostramos miniaturas de vídeos)
                    if (recurso.getAttribute("tipo_contenido") == "img") {
                        console.log(recurso.src);
                        // Creamos una imagen que irá dentro del botón
                        tmp_imagen = document.createElement("img");
                        tmp_imagen.src = recurso.src
                        tmp_imagen.style = "max-height: 100%; max-width: 100%;";

                        // Creamos el botón (permitirá darle estilo)
                        tmp_boton = document.createElement("button");
                        tmp_boton.className = "btn but-outline-primary";
                        tmp_boton.style = "border:1; border-color:#f6931f; font-weight:bold; height:75px; max-height:75px; min-height:75px";
                        tmp_boton.onclick = function () { incluye_imagen_nota(id_nota, recurso.getAttribute("img_original"), 0) };
                        tmp_boton.appendChild(tmp_imagen);

                        document.getElementById("imagenes_miniaturas_notas").appendChild(tmp_boton);
                    }
                }
            }


            // Función que añade una nota como imagen
            function incluye_imagen_nota(id_nota, imagen_original, es_sticker) {
                // alert ("hay que cambiar " +id_nota+ " para incluir "+imagen_original);
                let input_borrar = document.getElementById(id_nota).getElementsByClassName("clase_recuadro_texto")[0];

                // Si existía antes un input, se borra.
                if (input_borrar != undefined) {
                    input_borrar.remove();
                }
                else // Verificamos si había antes una imagen 
                {
                    let img_borrar = document.getElementById(id_nota).getElementsByClassName("clase_recuadro_imagen")[0];
                    // Si existía antes la imagen, se borra
                    if (img_borrar != undefined) {
                        img_borrar.remove();
                    }
                }

                // Se crea la nueva imagen
                imagen = document.createElement("img");
                imagen.id = id_nota + "_imagen_nota";
                imagen.style = "max-height: 75px; opacity: 1 !important; ";
                imagen.className = "clase_recuadro_imagen";
                imagen.setAttribute("nota_asociada", id_nota);
                 
                


                // Asignamos el temaño si es un sticker
                if (es_sticker == 0) {
                    // Recuperamos el tamaño de la imagen original, necesario para hacer el reescalado.
                    let tam = document.getElementById("img_oculta_" + imagen_original).naturalWidth + "x" + document.getElementById("img_oculta_" + imagen_original).naturalHeight;

                    imagen.setAttribute("tam_original", tam);

                    imagen.src = getBase() + "[[${ idSesion }]]/" + imagen_original;
                }
                else // Se trata de un sticker
                {
                    var tmp = document.createElement("img")
                    tmp.id = "tmp_"+tmp;
                    tmp.src = imagen_original;
                    imagen.src = imagen_original;
                    console.log("Recuperando dimensiones de ", imagen_original);
                    tmp.onload = function () { imagen.setAttribute("tam_original", tmp.naturalWidth + "x" + tmp.naturalHeight); }

                }


                // Se anexa la imagen
                document.getElementById(id_nota).appendChild(imagen);
                document.getElementById("barra_" + id_nota).style.width = "310px"; // Se hace un reset del ancho para reducir el espacio de influencia al mínimo.
                // document.getElementsByClassName("barraMenu")[0].style.width="400px"; // Se hace un unset del ancho para reducir el espacio de influencia al mínimo.

                // Se actualizarán los botones de la nota.
                // Se empieza por eliminar los botones que no se utilizarán 
                while (document.getElementById(id_nota).querySelector(".boton_texto") != undefined) {
                    // console.log ("porqueryselector = ",document.getElementById(id_nota).querySelector(".boton_texto"));
                    document.getElementById(id_nota).querySelector(".boton_texto").remove();
                }

                // Se cambia la acción del H1
                if (document.getElementById(id_nota).querySelector(".botonH1") != undefined) {
                    document.getElementById(id_nota).querySelector(".botonH1").onclick = function () { document.getElementById(id_nota + "_imagen_nota").style.maxHeight = "300px"; };
                }
                // Se cambia la acción del H2
                if (document.getElementById(id_nota).querySelector(".botonH2") != undefined) {
                    document.getElementById(id_nota).querySelector(".botonH2").onclick = function () { document.getElementById(id_nota + "_imagen_nota").style.maxHeight = "150px"; };
                }
                // Se cambia la acción del H3
                if (document.getElementById(id_nota).querySelector(".botonH3") != undefined) {
                    document.getElementById(id_nota).querySelector(".botonH3").onclick = function () { document.getElementById(id_nota + "_imagen_nota").style.maxHeight = "75px"; };
                }

                // Se oculta el modal
                modal2.style.display = 'none';

                // Se actualiza la cookie
                let _left = document.getElementById(id_nota).style.left;
                let _top = document.getElementById(id_nota).style.top;
                let _desde = hashPropiedadesNotas.get("ini_" + id_nota);
                let _hasta = hashPropiedadesNotas.get("fin_" + id_nota);
                let _tam = document.getElementById(id_nota + "_imagen_nota").style.maxHeight;
                
                let _tam_original = document.getElementById(imagen.id).getAttribute("tam_original");

                console.log ( document.getElementById(imagen.id));
                console.log ( document.getElementById(imagen.id).getAttribute("tam_original"));
                console.log ( document.getElementById(imagen.id).getAttribute("nota_asociada"));

                console.log ("Actualizando cookie: ", imagen.id, ", en (",_left,",",_top,"), en rango (",_desde,":",_hasta,", src = ",imagen.src, ",tam = ", _tam, ", tam_original =", _tam_original);

                add_cookie_imagen ( id_nota, _left, _top, _tam,  _desde, _hasta, imagen.src, _tam_original);

            }



            // Método para bajar una capa de nota un puesto en el árbol DOM
            function aleja(id_capa) {
                var element = document.getElementById(id_capa);
                console.log(element);
                if (element.previousElementSibling)
                    element.parentNode.insertBefore(element, element.previousElementSibling);
            }


            // Método para subir una capa de nota un puesto en el árbol DOM
            function acerca(id_capa) {
                var element = document.getElementById(id_capa);
                if (element.nextElementSibling)
                    element.parentNode.insertBefore(element.nextElementSibling, element);
            }


        </script>


        <script>
            //////////// GESTION DE PULSACIÓN DE TECLAS
            $(document).keyup(function(e) {
                if (e.key === "Escape") { // escape key maps to keycode `27`
                    oculta_todas_capas ();
                }
            });
            //////////// GESTION DE PULSACIÓN DE TECLAS

        </script>


        <script th:src="@{/TFMMetodos.js}"></script>

        <script th:inline="javascript">

            /*<![CDATA[*/
            Dropzone.autoDiscover = false;
            var total_archivos = 0;

            // DROPZONE
            $("#DIVdropzoneELEMENTOS").dropzone({
                // addRemoveLinks: true,


                acceptedFiles: "image/jpeg,image/png,image/gif,.mp4,.mkv,.avi",
                // maxFiles: 3, // Limita el TOTAL de archivos que se pueden subir
                // disablePreviews: true,
                parallelUploads: 5,
                processingmultiple() {
                    $('.progress-bar').show()
                },
                totaluploadprogress(uploadProgress) {
                    $('.progress-bar').css('width', uploadProgress + '%')
                },
                createImageThumbnails: true,

                init: function () {
                    let myDropzone = this;

                    $('.dz-preview').remove(); // Se quitan todos los thumbnail.

                    myDropzone.on('thumbnail', function (file, dataURL) {
                        // OK console.log("INFO anadir_item_oculto = " + file.dataURL);
                        // anadir_item_oculto(file, dataURL);
                        // regenera_ultima_miniatura();

                    });

                    myDropzone.on("complete", function (file) {
                         console.log("Terminó ",file);
                        // $('.dz-preview').remove(); // Se quita el thumbnail.
                    });

                    myDropzone.on("addedfile", function (file) {

if (document.getElementById("misRecursos").childElementCount != 0)
{
    console.log ("ASEGURANDO QUE ESTE VACIO");
    


                        // Gestión de duplicados
                        if (this.files.length) {
                            var _i, _len;

                            // Recorremos todos los archivos para ver si ya estaba incluido y así evitar duplicados.
                            for (_i = 0, _len = this.files.length; _i < _len - 1; _i++) // -1 to exclude current file
                            {
                                // Si ya existía, no se procesa.
                                if (this.files[_i].name === file.name && this.files[_i].size == file.size) {
                                    toastr.warning(this.files[_i].name + ' ya se había incluido.');

                                    this.removeFile(file);
                                    _i = this.files.length; // Se evitan varios mensajes repetidos.
                                    // alert("No se puede añadir el mismo archivo varias veces!");

                                }
                                else {
                                    // console.log("verificado " + file.name + "(" + file.size + ") contra " + this.files[_i].name + " (" + this.files[_i].size + ")");
                                }
                            }
                        }
}
                    });

                    // Sección para gestionar la recarga de la página (recorre los archivos en la variable thymeleaf "misArchivos"
                    let callback = null; // Callback (opcional) para cuando haya acabado
                    let crossOrigin = null; // Se añade al tag img para gstión del crossorigin
                    let miniatura_resize = false; // Indica a dropzone si hay que hacer el resize de la miniatura
                    let mockFilen; // Dimensiones del archivo

                    /*[# th:each="archivo, status: ${misArchivos}"]*/ // Código Thymeleaf - se carga en TFMPrincipal el modelo 'misArchivos'
                    var base = window.location.href.substr(0, window.location.href.lastIndexOf('/'));
                    // archivo = window.location.href + [[${ archivo }]];
                    archivo = base + [[${ archivo }]];
                    // alert (archivo);

                    ruta = [[${ archivo }]].split("/"); // Obtenemos el nombre del archivo (se usará en la miniatura)
                    tam_nombre_archivo = ruta[ruta.length - 1];
                    tam_archivo = tam_nombre_archivo.split("_")[0];
                    nombre_archivo = tam_nombre_archivo.substr(tam_nombre_archivo.indexOf("_") + 1, tam_nombre_archivo.length - 1)

                    mockFilen = { name: nombre_archivo, size: tam_archivo };
                    myDropzone.displayExistingFile(mockFilen, archivo, callback, crossOrigin, miniatura_resize);
                    this.files.push(mockFilen);    // add to files array

                    // MIME
                    var mime =  /*[[${misMimes[status.index]}]]*/ 'default';
                    // FIN MIME 
                    anadir_item_editor(tam_nombre_archivo, mime );

                    regenera_miniatura([[${ idSesion }]], tam_nombre_archivo); // Thymeleaf

                    // En caso de recarga de página se añade con mimetype válido 
                    anadir_capa_oculta(tam_nombre_archivo, [[${ idSesion }]], mime);

                    /*[/]*/

                },



                success: function (file, response) {
                    toastr.success('Archivo ' + file.name + ' añadido correctamente');

                    // Se comprueba el contador de archivos y se eliminan los thumbnails en caso de haber acabado.
                    let total_subiendo = document.getElementsByClassName("dz-preview").length;
                    total_archivos++;
                    // console.log ("terminaron "+ total_archivos+" de un total de "+total_subiendo);
                    // Si finalizaron las subidas de archivos
                    if (total_archivos >= total_subiendo) 
                    {
                        // console.log ("se acabó");
                        $('.dz-preview').remove(); // Se quitan todos los thumbnails
                        total_archivos=0;
                    }

                    var idSesion = [[${ idSesion }]];
                    idSesion.replace("\"", ""); // Se eliminan posibles comillas.

                    // Método para añadir un nuevo item al editor
                    var nombre_archivo = file.name.replace(' ', '_'); // Se evita el error producido por espacios en el nombre.
                    id_imagen = file.size + "_" + nombre_archivo;
                    anadir_item_editor(id_imagen, file.type);

                    // Se actualiza la miniatura
                    regenera_miniatura(idSesion, id_imagen); // Thymeleaf 

                    // Se genera la capa oculta 
                    // OK console.log("INFO addedfile anadir_item_oculto = " + id_imagen);
                    // console.log("INFO ${pageContext.request.localName} = " + [[${#httpServletRequest.requestURI}]]);

                    // Es necesario que añadir la capa oculta discrimine por mime type
                    anadir_capa_oculta(id_imagen, idSesion, file.type);

                    regenera_hovers();



                }
            });

            /*]]>*/



            /// Gestión de la recarga
            window.onbeforeunload = function () {
                return "Nono";
            }

            // Nos aseguramos que al cambiar su tamaño, el div de elementos no supere el ancho de la página
            // (esto no se consigue con un width=100% porque los elementos se añaden dinámicamente).
            function reportWindowSize() {
                /* heightOutput.textContent = window.innerHeight; */
                /* widthOutput.textContent = window.innerWidth; */
                /* console.log("ANCHO: ",document.getElementById('misRecursos').offsetWidth); */
                console.log("ANCHO: ",window.innerWidth);

                document.getElementById('misRecursos').style.width = window.innerWidth-14+ "px";
                document.getElementById('misRecursos').style.maxWidth = window.innerWidth-14+ "px";
                document.getElementById('miZonaEdicion').style.width = window.innerWidth-30+ "px";
                document.getElementById('miZonaEdicion').style.maxWidth = window.innerWidth-30+ "px";   
            }

            // Nos aseguramos que al cargar  el div de elementos no supere el ancho de la página
            // (esto no se consigue con un width=100% porque los elementos se añaden dinámicamente).
            window.onresize = reportWindowSize;
            document.getElementById('misRecursos').style.width = window.innerWidth-14+ "px";
            document.getElementById('misRecursos').style.maxWidth = window.innerWidth-14+ "px";
            document.getElementById('miZonaEdicion').style.width = window.innerWidth-30+ "px";
            document.getElementById('miZonaEdicion').style.maxWidth = window.innerWidth-30+ "px";


/* document.addEventListener('load', (event) => {
console.log('fully loaded and parsed');doSomething();
});

function doSomething()
{
console.log ("PREVIOS !!! ");
var mini_uploads = document.getElementsByClassName("dz-preview dz-complete dz-image-preview");
if (mini_uploads != null && mini_uploads.length>0)
{
let longitud = mini_uploads.length;
console.log ("PREVIOS = ",longitud);
while ( document.getElementsByClassName("dz-preview dz-complete dz-image-preview") != null )
{
console.log ("QUITANDO  = ",mini_uploads[i]);
document.getElementsByClassName("dz-preview dz-complete dz-image-preview")[0].remove();
// mini_uploads[i].remove();// Se quitan todos los thumbnail. Si se pone en el complete se borran los que no han acabado aún
}
}
} */
        </script>


    </div>
    <div id="msjAyuda1">Ajusta con la barra la duración de la imagen...</div> 
    <div id="msjAyuda2">Ajusta con la barra el inicio y el fin del recorte de vídeo...</div> 
</body>

</html>